@page
@model IndexModel
@using Localio.Web.Pages
@{
    Layout = "~/Pages/Shared/_LandingLayout.cshtml";

    ViewData["PageTitle"]       = IndexModel.SeoTitle;
    ViewData["PageDescription"] = IndexModel.SeoDescription;
    ViewData["PageKeywords"]    = IndexModel.SeoKeywords;
    ViewData["PageCanonical"]   = "https://localio.com.ar/";
}

<main id="main-content" data-page-type="landing" data-business-name="Localio">
    @await Html.PartialAsync("Landing/_Header",  Model)
    @await Html.PartialAsync("Landing/_Hero",    Model)
    @await Html.PartialAsync("Landing/_Problem", Model)
    @await Html.PartialAsync("Landing/_Benefits",Model)
    @await Html.PartialAsync("Landing/_Demos",   Model)
    @await Html.PartialAsync("Landing/_ForWho",  Model)
    @await Html.PartialAsync("Landing/_Includes", Model)
    @await Html.PartialAsync("Landing/_Process", Model)
    @await Html.PartialAsync("Landing/_Trust",   Model)
    @await Html.PartialAsync("Landing/_CtaFinal",Model)
    @await Html.PartialAsync("Landing/_Footer",  Model)
</main>
